@import 'styles';

.Legend {
    @include flex(horizontal);
    overflow: hidden;

    &.Start {
        justify-content: start;
    }

    &.Center {
        justify-content: center;
    }

    &.End {
        justify-content: end;
    }

    &.Dots > span {
        @include dots;
    }
}
