@import 'styles';

.Dashboard {
    display: grid;
    grid-template-columns: auto 1fr;

    .Sidebar {
        @include width(lg, element);
        transition: width 0.25s ease-out;

        &Full {
            @include width(md, component);
        }
    }

    .Content {
        @include margin(x md, y xs);
    }
}
