@import 'styles';

.ScrollLayout {
    flex-grow: 1;
    overflow: hidden;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        background-clip: content-box;
        background-color: transparent;
    }

    /* &::-webkit-scrollbar-thumb {} */

    &.Col {
        @include flex;
        overflow-x: auto;
    }

    &.Row {
        @include flex(row);
        overflow-y: auto;
    }
}
