@mixin flex($orientation: vertical, $alignment: none, $justify: none) {
    @if not map-has-value($orientation-keys, $orientation) {
        @error "No orientation #{$orientation}";
    }

    display: flex;

    @if $orientation == horizontal {
        flex-direction: row;
    }

    @if $orientation == vertical {
        flex-direction: column;
    }

    @if $alignment != none {
        align-items: $alignment;
    }

    @if $justify != none {
        justify-content: $justify;
    }
}
