@use 'sass:map';

@mixin generate-layout($layout: $landing-layout) {
    /* lines */
    @each $line-key, $line-value in map.get($layout, lines) {
        --sbsys-lines-#{$line-key}: #{$line-value};
    }

    /* weights */
    @each $weight-key, $weight-value in map.get($layout, weights) {
        --sbsys-weights-#{$weight-key}: #{$weight-value};
    }

    /* sizes */
    @each $size-type, $size-values in map.get($layout, sizes) {
        @each $size-key, $size-value in $size-values {
            $measure: rem;

            @if $size-type == text {
                $measure: px;
            }

            @if $size-value == 0 {
                $measure: '';
            }

            --sbsys-sizes-#{$size-type}-#{$size-key}: #{$size-value}#{$measure};
        }
    }

    /* opacities */
    @each $opacity-key, $opacity-value in map.get($layout, opacities) {
        --sbsys-opacities-#{$opacity-key}: #{$opacity-value};
    }

    --sbsys-opacities-bg: 1;
    --sbsys-opacities-font: 1;
    --sbsys-opacities-border-top: 1;
    --sbsys-opacities-border-bottom: 1;
    --sbsys-opacities-border-left: 1;
    --sbsys-opacities-border-right: 1;

    /* series */
    @each $serie-theme, $serie-values in map.get($layout, series) {
        @each $serie-type, $serie-intensities in $serie-values {
            @each $intensity-key, $intensity-value in $serie-intensities {
                --sbsys-series-#{$serie-theme}-#{$serie-type}-#{$intensity-key}: #{red(
                        $intensity-value
                    )}
                    #{green($intensity-value)}
                    #{blue($intensity-value)};
            }
        }
    }

    @each $ff-key, $ff-value in map.get($layout, font-families) {
        --sbsys-font-family-#{$ff-key}: #{$ff-value};
    }

    /* shadows */
    @each $corner-position-key in $corner-position-keys {
        @each $size-key in $size-keys {
            $current-offset: map.get($layout, shadows, offset, $size-key);
            $current-blur: map.get($layout, shadows, blur, $size-key);
            $current-spread: map.get($layout, shadows, spread, $size-key);

            $h-offset: 0;
            $v-offset: 0;

            @if $current-offset != 0 {
                $h-offset: #{$current-offset}px;
                $v-offset: #{$current-offset}px;

                @if $corner-position-key == top-left {
                    $h-offset: -#{$current-offset}px;
                    $v-offset: -#{$current-offset}px;
                }

                @if $corner-position-key == top-right {
                    $v-offset: -#{$current-offset}px;
                }

                @if $corner-position-key == bottom-left {
                    $h-offset: -#{$current-offset}px;
                }
            }

            $blur: 0;

            @if $current-blur != 0 {
                $blur: #{$current-blur}px;
            }

            $spread: 0;

            @if $current-spread != 0 {
                $spread: #{$current-spread}px;
            }

            --sbsys-shadows-#{$corner-position-key}-#{$size-key}: #{$h-offset}
                #{$v-offset}
                #{$blur}
                #{$spread};
        }

        --sbsys-shadows-#{$corner-position-key}-color: 0 0 0;

        --sbsys-shadows-#{$corner-position-key}-opacity: 0.1;
    }
}
