@mixin generate-layout($layout: $landing-layout) {
    /* break point pxs */
    $break-point-pxs: map-get($layout, break-point-pxs);

    @each $bpp-key, $bpp-value in $break-point-pxs {
        --break-point-pxs-#{$bpp-key}: #{$bpp-value}px;
    }

    /* break point rems */
    $break-point-rems: map-get($layout, break-point-rems);

    @each $bpr-key, $bpr-value in $break-point-rems {
        --break-point-rems-#{$bpr-key}: #{$bpr-value}rem;
    }

    /* lines */
    $lines: map-get($layout, lines);

    @each $line-key, $line-value in $lines {
        --lines-#{$line-key}: #{$line-value};
    }

    /* weights */
    $weights: map-get($layout, weights);

    @each $weight-key, $weight-value in $weights {
        --weights-#{$weight-key}: #{$weight-value};
    }

    /* sizes */
    $sizes: map-get($layout, sizes);

    @each $size-type, $size-values in $sizes {
        @each $size-key, $size-value in $size-values {
            $measure: rem;

            @if $size-type == text {
                $measure: px;
            }

            @if $size-value == 0 {
                $measure: '';
            }

            --sizes-#{$size-type}-#{$size-key}: #{$size-value}#{$measure};
        }
    }

    /* opacities */
    $opacities: map-get($layout, opacities);

    @each $opacity-key, $opacity-value in $opacities {
        --opacities-#{$opacity-key}: #{$opacity-value};
    }

    --opacities-bg: 1;
    --opacities-font: 1;
    --opacities-border-top: 1;
    --opacities-border-bottom: 1;
    --opacities-border-left: 1;
    --opacities-border-right: 1;
    --opacities-border-shadow: 1;

    /* series */
    $series: map-get($layout, series);

    @each $serie-theme, $serie-values in $series {
        @each $serie-type, $serie-intensities in $serie-values {
            @each $intensity-key, $intensity-value in $serie-intensities {
                --series-#{$serie-theme}-#{$serie-type}-#{$intensity-key}: #{red(
                        $intensity-value
                    )}
                    #{green($intensity-value)}
                    #{blue($intensity-value)};
            }
        }
    }
}
