@mixin inset($size-type-key: split, $size-key: none, $position: absolute) {
    bottom: size($size-type-key, $size-key);
    left: size($size-type-key, $size-key);
    position: $position;
    right: size($size-type-key, $size-key);
    top: size($size-type-key, $size-key);
}
