@mixin normalize {
    &,
    &::before,
    &::after {
        @include margin(all split none);
        @include padding(all split none);
        box-sizing: border-box;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}
