@mixin normalize {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: 1.25;
        margin: 0;
        padding: 0;
    }
}
