@use 'sass:list';

@function size($size-type-key, $size-key) {
    @if not list.index($size-type-keys, $size-type-key) {
        @error "No size type #{$size-key}";
    }

    @if not list.index($size-keys, $size-key) {
        @error "No size #{$size-key}";
    }

    @return var(--#{$prefix}-#{$size-type-key}-#{$size-key});
}

@mixin width($size-type-key, $size-key) {
    width: size($size-type-key, $size-key);
}

@mixin max-width($size-type-key, $size-key) {
    max-width: size($size-type-key, $size-key);
}

@mixin min-width($size-type-key, $size-key) {
    min-width: size($size-type-key, $size-key);
}

@mixin height($size-type-key, $size-key) {
    height: size($size-type-key, $size-key);
}

@mixin max-height($size-type-key, $size-key) {
    max-height: size($size-type-key, $size-key);
}

@mixin min-height($size-type-key, $size-key) {
    min-height: size($size-type-key, $size-key);
}
