/* landing layout */
$landing-layout: (
    /* break point pxs */
    break-points: (
        6xs: 320,
        5xs: 384,
        4xs: 448,
        3xs: 512,
        2xs: 576,
        xs: 640,
        sm: 704,
        md: 768,
        lg: 896,
        xl: 1024,
        2xl: 1152,
        3xl: 1280,
        4xl: 1408,
        5xl: 1536,
        6xl: 1664,
    ),
    /* lines height */
    lines: (
        none: 1,
        xs: 1.125,
        sm: 1.25,
        md: 1.375,
        lg: 1.5,
        xl: 1.625,
        2xl: 1.75,
    ),
    /* weights */
    weights: (
        none: lighter,
        xs: 100,
        sm: 300,
        md: 400,
        lg: 500,
        xl: 700,
        2xl: bolder,
    ),
    /* sizes */
    sizes: (
        text: (
            none: 0,
            xs: 12,
            sm: 14,
            md: 16,
            lg: 18,
            xl: 20,
            2xl: 22,
        ),
        border: (
            none: 0,
            xs: 0.0625,
            sm: 0.125,
            md: 0.1875,
            lg: 0.25,
            xl: 0.3125,
            2xl: 0.375,
        ),
        rounded: (
            none: 0,
            xs: 0.25,
            sm: 0.5,
            md: 0.75,
            lg: 1,
            xl: 1.25,
            2xl: 1.5,
        ),
        split: (
            none: 0,
            xs: 0.125,
            sm: 0.25,
            md: 0.5,
            lg: 0.75,
            xl: 1,
            2xl: 1.25,
        ),
        font: (
            none: 0,
            xs: 0.75,
            sm: 0.875,
            md: 1,
            lg: 1.125,
            xl: 1.25,
            2xl: 1.5,
        ),
        element: (
            none: 0,
            xs: 1.75,
            sm: 2.5,
            md: 3.25,
            lg: 4,
            xl: 4.75,
            2xl: 5.5,
        ),
        space: (
            none: 0,
            xs: 0.5,
            sm: 0.75,
            md: 1,
            lg: 1.5,
            xl: 2,
            2xl: 2.5,
        ),
        component: (
            none: 0,
            xs: 8,
            sm: 12,
            md: 16,
            lg: 20,
            xl: 24,
            2xl: 28,
        ),
        view: (
            none: 0,
            xs: 40,
            sm: 44,
            md: 48,
            lg: 56,
            xl: 64,
            2xl: 72,
        ),
    ),
    /* opacities */
    opacities: (
        none: 0,
        xs: 0.1,
        sm: 0.2,
        md: 0.4,
        lg: 0.6,
        xl: 0.8,
        2xl: 1,
    ),
    /* series */
    series: (
        /* theme light */
        light: (
            bg: (
                weakest: #fefefe,
                weak: #eaeaea,
                main: #f4f4f4,
                strong: #fefefe,
                strongest: #fefefe,
            ),
            font: (
                weakest: #fefefe,
                weak: #727272,
                main: #3d3d3d,
                strong: #080808,
                strongest: #fefefe,
            ),
            base: (
                weakest: #fefefe,
                weak: #4c5c6b,
                main: #586b7d,
                strong: #6b8196,
                strongest: #fefefe,
            ),
            primary: (
                weakest: #fefefe,
                weak: #2e678a,
                main: #3577a0,
                strong: #418fc0,
                strongest: #321234,
            ),
            secondary: (
                weakest: #fefefe,
                weak: #256f5a,
                main: #2b8068,
                strong: #37a687,
                strongest: #fefefe,
            ),
            tertiary: (
                weakest: #fefefe,
                weak: #256f5a,
                main: #2b8068,
                strong: #37a687,
                strongest: #fefefe,
            ),
            accent: (
                weakest: #fefefe,
                weak: #463778,
                main: #51408a,
                strong: #634eaa,
                strongest: #fefefe,
            ),
            info: (
                weakest: #fefefe,
                weak: #417f8d,
                main: #4c94a5,
                strong: #60a6b6,
                strongest: #fefefe,
            ),
            success: (
                weakest: #fefefe,
                weak: #489c57,
                main: #56b167,
                strong: #6fbd7e,
                strongest: #fefefe,
            ),
            warning: (
                weakest: #fefefe,
                weak: #ba8d1c,
                main: #daa520,
                strong: #e2b33d,
                strongest: #fefefe,
            ),
            danger: (
                weakest: #fefefe,
                weak: #ba1830,
                main: #d91c38,
                strong: #e53650,
                strongest: #fefefe,
            ),
        ),
        /* theme dark */
        dark: (
            bg: (
                weakest: #fefefe,
                weak: #242424,
                main: #141414,
                strong: #0a0a0a,
                strongest: #fefefe,
            ),
            font: (
                weakest: #fefefe,
                weak: #a4a4a4,
                main: #d2d2d2,
                strong: #fefefe,
                strongest: #fefefe,
            ),
            base: (
                weakest: #fefefe,
                weak: #536576,
                main: #62768a,
                strong: #75899d,
                strongest: #fefefe,
            ),
            primary: (
                weakest: #fefefe,
                weak: #316e94,
                main: #3a81ad,
                strong: #4b95c3,
                strongest: #fefefe,
            ),
            secondary: (
                weakest: #fefefe,
                weak: #277660,
                main: #2e8a70,
                strong: #3aad8c,
                strongest: #fefefe,
            ),
            tertiary: (
                weakest: #fefefe,
                weak: #277660,
                main: #2e8a70,
                strong: #3aad8c,
                strongest: #fefefe,
            ),
            accent: (
                weakest: #fefefe,
                weak: #544290,
                main: #624da8,
                strong: #7763b7,
                strongest: #fefefe,
            ),
            info: (
                weakest: #fefefe,
                weak: #468899,
                main: #549db0,
                strong: #6cacbc,
                strongest: #fefefe,
            ),
            success: (
                weakest: #fefefe,
                weak: #469955,
                main: #54b065,
                strong: #6cbc7b,
                strongest: #fefefe,
            ),
            warning: (
                weakest: #fefefe,
                weak: #ca991e,
                main: #e0ad2d,
                strong: #e4b94c,
                strongest: #fefefe,
            ),
            danger: (
                weakest: #fefefe,
                weak: #c91a34,
                main: #e32542,
                strong: #e7455e,
                strongest: #fefefe,
            ),
        ),
    ),
    font-families: (
        main:(
            'Roboto',
            sans-serif,
        ),
        number:(
            'Roboto Mono',
            monospace,
        ),
    ),
);
