@import 'styles';

* {
    @include normalize;
}

/* body */
body {
    @include flex-col;
    @include font-roboto;
    @include inset;
    overflow: hidden;
}

#root,
#modal,
#loader,
#notification {
    @include flex-col;
    overflow: hidden;
}

/* root */
#root {
    flex-grow: 1;
}

/* modal */
#modal {
    z-index: 110;
}

/* loader */
#loader {
    z-index: 120;
}

/* notification */
#notification {
    z-index: 130;
}
