@import 'styles';

* {
    @include normalize;
}

/* body */
body {
    @include flex;
    @include font-family;
    @include font-size(md);
    @include inset;
    @include line-height(md);
    overflow: hidden;
}

#root,
#modal,
#loader,
#notification {
    @include flex;
    overflow: hidden;
}

/* root */
#root {
    flex-grow: 1;
}

/* modal */
#modal {
    z-index: 110;
}

/* loader */
#loader {
    z-index: 120;
}

/* notification */
#notification {
    z-index: 130;
}

input,
button,
textarea {
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline-offset: 2px;
        outline: 2px solid transparent;
    }
}

i {
    @include flex(vertical, center, center);
}
